@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
	ba
	background: url(images/Homepage-background.jpeg);
	background-repeat: no-repeat;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	color: white;
}

a{
	color: white;
}

.no-marker-li{
	list-style-type: none;
}
