@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@keyframes moveIt {
  from {background-position: 0% 0%;}
  to {background-position: 40% 5%;}
}

body{
	background: url(images/Homepage-background.jpeg);
	background-size: 2000px;
	background-repeat: no-repeat;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	color: white;
	animation: moveIt 12s alternate infinite;
	animation-timing-function:ease-in-out;
}

a{
	color: white;
}

.no-marker-li{
	list-style-type: none;
}
