@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
	background: url(images/moon-fullhd.jpg);
	/*background: #8c8f93;*/
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	color: white;
}

a{
	color: white;
}

